.form{
    border: 1px solid chocolate;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
   
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin:0, auto, 15px;
}
.field{
    display: flex;
    flex-direction: column;
}
.text {
    color: blanchedalmond;
}
.input {
    font-size: medium;
    font-weight: bold;
    color: black;
    background-color: blanchedalmond;
    border: 1px solid chocolate;
    border-radius: 20px;
}
.btn {
    background-color:chocolate
}