.link_wrapper {
    display: flex;
    gap: 30px;
  }
  
  .link {
    display: inline-block;
    color: chocolate;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 200ms;
    font-weight: bold;
  }

    .link:hover {
      color:crimson;
  
  }